{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ category.content|raw }}</td>
            </tr>
            <tr>
                <td>{{ category.thumbnail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% for intervention in category.interventions %}
            <li>{{ intervention.title }}</li>
                <ul>{{ intervention.content|raw }}</ul>
        {% endfor %}
    </ul>





{% endblock %}
