{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ category.content|raw }}</td>
            </tr>
            <img src="{{ asset('uploads/thumbnails/' ~category.thumbnail) }}" alt="">
        </tbody>
    </table>


        {% for intervention in category.interventions %}
            <div>
            <a href="{{ path('intervention_show',{'id': intervention.id}) }}">{{ intervention.title }}</a>
            </div>
        {% endfor %}






{% endblock %}
