{% extends 'base.html.twig' %}

{% block title %}Vos questions{% endblock %}

{% block body %}
    <h1>Faq index</h1>

    {{ include('faq/_form.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Question</th>
                <th>Response</th>
                <th>CreatedAt</th>

                <th>Pseudo</th>
            </tr>
        </thead>
        <tbody id="cont">
        {% for faq in faqs %}
            <tr>

                <td>{{ faq.category }}</td>
                <td>{{ faq.question }}</td>
                <td>{{ faq.response }}</td>
                <td>{{ faq.createdAt ? faq.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ faq.pseudo }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
