{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}

    <section class="article">
        {% for singlenews in news %}
            <article>
                <h2>{{ singlenews.title }}</h2>
                <div class="metadata">{{ singlenews.createdAt ? singlenews.createdAt|date('Y-m-d H:i:s') : '' }}</div>
                <div class="content">
                    <img src="{{ asset('uploads/thumbnails/' ~ singlenews.thumbnail) }}" alt="">
                    <p>{{ singlenews.content|raw }}</p>
                    <a href="{{ path('news_show', {'id': singlenews.id}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}
