{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <tbody>

            <tr>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <td>{{ news.thumbnail }}</td>
            </tr>
            <tr>
                <td>{{ news.content|raw }}</td>
            </tr>
            <tr>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('news_index') }}">back to list</a>

{% endblock %}
